* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    width: 800px
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.post-container {
    display: grid;
    grid-template-columns: 1fr;
}

.post__content {
    max-width: 700px;
}

.post-text {
    width: 100%;
    word-wrap: break-word;
}

#b1 {
    margin: 10px 0 0 20px;
}

#b2 {
    margin: 0 0 0 10px;
}

.button {
    text-align: center;
    padding: 10px 40px 10px 10px;
}

.loader {
    margin-top: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px dashed teal;
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}